{% extends 'products/base.html '%}


{% load static %}

{% block about%}
<section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>О нас</h1>
                    <p>
                        Уже на протяжении многих лет наш магазин предлагает клиентам самые последние тенденции и высококачественные товары от мировых брендов. Наша команда состоит из профессионалов, имеющих страсть к моде и стилю, которые тщательно отбирают каждый предмет, чтобы убедиться, что он соответствует нашим высоким стандартам.

                    Все началось с маленького магазина на улице Мелроуз, и с тех пор мы выросли в крупную международную компанию, сохраняя при этом наши ценности и приверженность к качеству. Наша цель - делать моду доступной и удобной для каждого, предлагая современные и стильные товары по конкурентоспособным ценам.

                    Мы ценим наших клиентов и стремимся обеспечить непревзойденный уровень обслуживания и удовлетворения, поэтому мы постоянно работаем над улучшением наших услуг, чтобы каждый клиент мог чувствовать себя особенным.

                    Спасибо, что выбрали наш магазин, и мы надеемся, что вы найдете у нас все, что вам нужно для создания своего неповторимого стиля!
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'assets/img/about-hero.svg' %}" alt="About Hero">
                </div>
            </div>
        </div>
</section>
<section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Наши услуги</h1>
                <p>
                    Мы гарантируем быструю доставку и отличное обслуживание, чтобы сделать ваше покупательное пребывание у нас приятным и удобным
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                    <h2 class="h5 mt-4 text-center">Доставка</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                    <h2 class="h5 mt-4 text-center">Возврат</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                    <h2 class="h5 mt-4 text-center">Акции</h2>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 pb-5">
                <div class="h-100 py-5 services-icon-wap shadow">
                    <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                    <h2 class="h5 mt-4 text-center">Круглосуточное обслуживание</h2>
                </div>
            </div>
        </div>
    </section>

{% endblock%}

{% block brands_about %}
<section class="bg-light py-5">
        <div class="container my-2">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Наши Бренды</h1>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div>
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_01.png'%}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_02.png'%}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_03.png'%}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src="{% static 'assets/img/brand_04.png'%}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
<!--                        <div class="col-1 align-self-center">-->
<!--                            <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">-->
<!--                                <i class="text-light fas fa-chevron-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}







