{% extends 'products/base.html'%}

{% load static cache  %}

{% block open %}
 <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    {% for info in product_info %}
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ info.image.url }}" alt="Card image cap" id="product-detail">
                    </div>
                </div>
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ info.name }}</h1>
                            <p class="h3 py-2">{{ info.price }} руб.</p>
                            <p class="py-2">
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <span class="list-inline-item text-dark">Рейтинг 5.0</span>
                            </p>
                            <h6>Описание:
                                <p>{{ info.description}}</p>
                            </h6>
                            <form  action = "{% url 'basket_add' product.id%}"method="post">
                                {% csrf_token %}
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                </div>
                                <div class="row pb-3">
<!--                                    <div class="col d-grid">-->
<!--                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Купить</button>-->
<!--                                    </div>-->
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Добавить в корзину</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

