{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Профиль</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'index'%}">
                Zay
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index'%}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about'%}">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop'%}">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact'%}">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <a class="nav-icon position-relative text-decoration-none login-button" href="{% url 'logout' %}">
                        <b>Выйти</b>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url 'basket' %}">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">{{ total_quantity }}</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url 'profile' %}">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    </a>
                    {% else %}
                    <a class="nav-icon position-relative text-decoration-none login-button" href="{% url 'login' %}">
                        <b>Войти</b>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="{% url 'basket' %}">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">{{ total_quantity }}</span>
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>
    </nav>
<form action="{% url 'profile'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                    <div class="text-center"><b>Фото</b></div>
                  <div class="d-flex flex-column align-items-center text-center mb-0">
                    <img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'assets/img/default_avatar.jpg '%} {% endif %}"  width="260">
                  </div>
                    <div class="form-row mb-2">
                    <div class="col-lg-12">
                        <div class="custom-file text-center mt-3">
                            {{ form.image }}
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0 mt-2">Имя</h6>
                    </div>
                     <div class="col-sm-9">
<!--                        <input type="text" class="form-control" id="first_name" value="">-->
                         {{ form.first_name}}
                     </div>
                  </div>
                  <hr>
                    <div class="row">
                    <div class="col-sm-3 ">
                      <h6 class="mb-0 mt-2">Фамилия</h6>
                    </div>
                    <div class="col-sm-9">
<!--                        <input type="text" class="form-control" id="last_name" value="Евдокимов">-->
                        {{ form.last_name }}
                     </div>
                  </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-3 ">
                      <h6 class="mb-0 mt-2">Имя пользователя</h6>
                    </div>
                    <div class="col-sm-9">
<!--                        <input type="text" class="form-control" id="username" value="anton">-->
                        {{ form.username}}
                     </div>
                  </div>
                    <hr>
                   <div class="row">
                    <div class="col-sm-3 ">
                      <h6 class="mb-0 mt-2">Адрес электронной почты</h6>
                    </div>
                    <div class="col-sm-9">
<!--                        <input type="text" class="form-control" id="email" value="antonevdokimov47@gmail.com">-->
                        {{ form.email}}
                     </div>
                  </div>
                  <hr>
                  <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-success btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</form>
</body>
